*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-con{  
    display: flex;
    align-items: center;
   
}
nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

hr{
    background-color: #888;
    height: 2px;
    border: none;
}
.logo-img{
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
}

#logo-text{
    letter-spacing: -1.6px;
    color: rgb(177, 177, 17);
}
.logo{
    display: flex;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    
}
.left img {

}
.center{
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex: 0 1 700px;
}
.center form{
position: relative;
width: 100%;
}
.center  input{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: aquamarine;
    padding: 15px;
    border: 1px solid grey;
    color: white;
    font-size: 1rem;
    background: transparent;
}
.search{
    min-width: 55px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    z-index: 20;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}
.mic{
    min-width: 40px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: none;
    outline: none;
    margin-left: 10px;
}
.right{
    display: flex;
    align-items: center;
}
.right i {
    margin-left: 25px;
}
.profile-pix{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
}

.sidebar{
    background:#fff;
    padding-top: 12px;
    width: 15%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    padding-top:80px;
    padding-left: 2%;
}
.sidebar-items a i{
    width: 20px;
    margin-right: 20px;
    
    
}
.sidebar-items a {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    width: fit-content;
    text-decoration: none;
}
.sidebar-items a:first-child {
    color: red;
}
.tiny-sidebar {
    width: 5%;
}
.tiny-sidebar a {
    display: none;

}

.sidebar-contain{
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
    padding: 0 25px;
}
.sidebar-contain i{
    margin-right: 24px;
}
::-webkit-scrollbar {
   width: 10px; 
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 4px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
.video-sect {

height: 90vh;
position: relative;


}


.video-container {
    background-color: burlywood;
    max-width: 700px;
    width: 100%;
    

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    
   
 
  
   
}
.video-container iframe{
   

 
   
   
    
    
}




